.card-box{
    box-sizing: border-box;
    display: inline-flex;
    background-color: #E5E5E5;
    width: 373px;
    max-height: 624px;
    margin-bottom: 69px;
    border-radius: 16px;
    transition: transform 400ms ease-in-out;
}

.card-box .align{
    padding-left: 40px;
}

.card-box .main-title.-second, .card-box .main-title, .card-box .main-itemize{
    display: inline-block;
    margin-top: 40px;
}

.card-box .main-subtitle{
    margin-top: 8px;
}

.card-box .main-title.-second.-smaller{
    margin-top: 0;
    margin-bottom: 24px;
}

.card-box .items{
    margin-bottom: 20px;;
}

.card-box .items:last-of-type{
    margin-bottom: 0;
}

.card-box .main-button{
    margin-top: 166px;
    margin-bottom: 40px;
}

.card-box .main-button.-smaller{
    margin-top: 113px;
    margin-bottom: 40px;
}

.card-box.-gray{
    background-color: #C6C3CA;
}

.card-box:hover{
    background-color: #1C162E;
    transform: scale(1.1);
}

.card-box .main-title:hover, .card-box .main-title.-second:hover{
    color: #fff;
}