.main-button{
    display: inline-block;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 20px;
    font-weight: 500;
    width: 293px;
    height: 55px;
    background-color: #fff;
    color: #1AD5AD;
    box-sizing: border-box;
    border: 2px solid #1AD5AD;
    border-radius: 8px;
    outline: none;
}

.main-button:hover{
    background-color: #1AD5AD;
    color: #fff;
}