.main-title{
    font-size: 40px;
    font-weight: 700;
    color: #1E162F;
}

.main-title.-second{
    font-size: 24px;
    font-weight: 400;
}
.main-title.-items{
    font-size: 20px;
    font-weight: 300;
}

.main-title.-smaller{
    font-size: 20px;
}